<header>
    <nav class="menu" role="navigation">
        <div class="menu__toggle">
            <input type="checkbox"  id="checkMenu">
            <span></span>
            <span></span>
            <ul class="navbar">
                <li><a [routerLink]="['/home']" class="link-item">Home</a></li>
                <li><a routerLink="/people-list" class="link-item">People</a></li>
                <li><a [routerLink]="['/films']" class="link-item">Films</a></li>
            </ul>
        </div>
    </nav>
</header>
