<h1>Peliculas</h1>

<div class="episodes">
    <div class="figure" *ngFor="let film of films">
        <h3>{{film.title}}</h3>
        <p class="episodes__list">Episodio: {{film.episode_id}}</p>
        <p class="episodes__list">Director: {{film.director}}</p>
        <div *ngFor="let film2 of films2">
          <a class="episodes__list" *ngIf="film.episode_id == film2.episode_id2" data-target="_blank"  href="{{film2.characters2}}">Personajes: {{film2.characters2}} </a>
        </div>
    </div>
</div>
