<app-search></app-search>
<div class="card">
    <h1>Personajes</h1>
    <div class="card__details" *ngFor="let people of peoples">

        <ul class="card__list">
            <h3>{{ people.name }}</h3>
            <li>
                <label class="table__label">Color de ojos: {{ people.eye_color}}</label>
            </li>
            <li>
                <label class="table__label">Género: {{ people.gender}}</label>
            </li>
            <li *ngFor="let film of filmsPeoples">
                <label class="table__label" *ngIf="people.name == film.peopleName">Pelicula: {{ film.title}}</label>
            </li>

        </ul>


    </div>

    <button (click)="goNextPages()" >Siguiente</button>
    <button (click)="goPreviousPages()" >Atras</button>

<br>
</div>
